body {
    padding-top: 50px;
}

.navbar-inverse {
    background-image: none;
    background-color: #36a7ea;
    border-color: #36a7ea;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-brand:hover {
    color: #dddddd;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #dddddd;
}

.panel-primary > .panel-heading {
    background-color: #36a7ea;
    border-color: #36a7ea;
    background-image: none;
}

.navbar-brand .glyphicon {
    font-size: 1.5em;
}

.navbar-brand .app-name {
    vertical-align: super;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary {
    background-color: #36a7ea;
    border-color: #36a7ea;
    background-image: none;
}


.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.loader {
    padding: 20px 0;
    font-size: 32px;
}

.panel-title a {
    font-weight: bold;
}

.panel-body .table {
    margin: 0;
}

.table > tbody > tr.priority-1 > td {
    background-color: #f2dede;
}
.table-hover > tbody > tr.priority-1:hover > td {
    background-color: #ebcccc;
}
.table > tbody > tr.priority-2 > td {
    background-color: #fcf8e3;
}
.table-hover > tbody > tr.priority-2:hover > td {
    background-color: #faf2cc;
}
.table > tbody > tr.priority-3 > td {
    background-color: #dff0d8;
}
.table-hover > tbody > tr.priority-3:hover > td {
    background-color: #d0e9c6;
}
.table > tbody > tr.priority-4 > td {
    background-color: #d9edf7;
}
.table-hover > tbody > tr.priority-4:hover > td {
    background-color: #c4e3f3;
}
.table > tbody > tr.priority-5 > td {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr.priority-5:hover > td {
    background-color: #e8e8e8;
}

.text-pad-left {
    padding-left: 10px;
}

.valid-btn {
    margin-bottom: 15px;
}